gradio==5.34.1
langchain==0.3.25
langchain-community==0.3.24
langchain-groq==0.3.2
faiss-cpu==1.11.0
sentence-transformers==4.1.0
unstructured==0.17.2
PyMuPDF==1.25.5
python-dotenv==1.1.0
chromadb==1.0.13
